<head>
    <title>Bootstrap Example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  </head>

  <body>

<div class="wrapper fadeInDown">
    <div id="formContent">
      <!-- Tabs Titles -->
  
      <!-- Titre -->
      <div class="fadeIn first">
       <h2 style="color: #49aba8;">Connexion </h2> 
      </div>
      <br>
  
      <!-- Login Form -->
      <form  #f="ngForm">
        <input type="text" id="Email" class="fadeIn second" name="Email" placeholder="Votre adresse email">
        <input type="text" id="password" class="fadeIn third" name="login" placeholder="Mot de passe">
        <input type="submit" class="fadeIn fourth" value="Log In" style="background-color: #49aba8;" ><br>
        <a routerLink="/inscriClient" class="btn btn-link">S'inscrire</a>
      </form>
  
      <!-- Remind Passowrd -->
      <div id="formFooter" >
        <a class="underlineHover" href="#" style="color: #49aba8;">Mot de passe oublié ?</a>
      </div>
  
    </div>
  </div >
</body>