<head>
    <title>Bootstrap Example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  </head>

  <body>

<div class="wrapper fadeInDown">
    <div id="formContent">
      <!-- Tabs Titles -->
  
      <!-- Titre -->
      <div class="fadeIn first">
       <h2 style="color: #49aba8;">Connexion </h2> 
      </div>
      <br>
      <div class="alert alert-danger " *ngIf="test==false">
        <strong>Erreur!</strong> L'email ou le mot de passe saisi est incorrect.
       </div>
      <!-- Login Form -->
      <form   #f="ngForm"  (ngSubmit)="onSubmit(f)">
        <input type="text" id="Email" class="fadeIn second" name="Email" placeholder="Votre adresse email"  [(ngModel)]="Email"  >
        <input type="password" id="pwd" class="fadeIn third" name="pwd" placeholder="Mot de passe"   [(ngModel)]="pwd"  >
        <input type="submit" class="fadeIn fourth" value="Log In" style="background-color: #49aba8;"><br>
        <a routerLink="/inscriFreelancer" class="btn btn-link">S'inscrire</a>
      </form>
  
      <!-- Remind Passowrd -->
      <div id="formFooter" >
        <a class="underlineHover" href="#" style="color: #49aba8;">Mot de passe oublié ?</a>
      </div>
  
    </div>
  </div >
</body>